# C++ build artifacts
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

# CMake build directories
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/install_manifest.txt

# Qt Creator
*.user
*.user.*


# MacOS
.DS_Store

# Windows
Thumbs.db